div.container {
  width: 100%;
  height: 100%;
}

div.img-strip {
  height: 1080px;
  background-color: #000;
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 540px) {
  div.img-strip {
    height: 1080px;
    background-color: #000;
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

div.img-strip h1 {
  /* Positioning */
  /* Box-model */
  position: fixed;
  margin: 0 auto;
  top: 38%;
  left: 60%;
  /* Typography */
  text-align: center;
  /* Visual */
  color: #fff;
  /* Misc */
}

@media screen and (max-width: 540px) {
    div.img-strip h1 {
      /* Positioning */
      /* Box-model */
      position: fixed;
      margin: 0 auto;
      top: 90%;
      left: 10%;
      /* Typography */
      text-align: left;
      /* Visual */
      color: #fff;
      /* Misc */
    }
  }


div.img-strip h1 a {
  /* Positioning */
  /* Box-model */
  /* Typography */
  text-decoration: none;
  /* Visual */
  color: #fff;
  /* Misc */
}

div.img-strip h1 a:visited {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  color: #fff;
  /* Misc */
}

div.img-strip h1 a:hover {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  color: #ff0;
  /* Misc */
}